name: Airflow Deploy to HS

on:
  push:
    branches: [develop]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/lp-airflow-crawler:latest .

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/lp-airflow-crawler:latest

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOME_SERVER_HOST }}
          username: ${{ secrets.HOME_SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: AIRFLOW_UID, AIRFLOW__CORE__FERNET_KEY, DOCKER_HUB_USERNAME
          script: |
            export AIRFLOW_UID=${AIRFLOW_UID}
            export AIRFLOW__CORE__FERNET_KEY=${AIRFLOW__CORE__FERNET_KEY}
            export DOCKER_HUB_USERNAME=${DOCKER_HUB_USERNAME}
            cd ~lp-patchnote/services/airflow-crawler
            git pull origin main
            docker compose pull
            docker compose up -d --build
